.ScreenViewer {
  height: 100%;
}

.ScreenViewer-controls {
  position: fixed;
  top: 8px;
  right: 16px;
}

.ScreenViewer-viewer {
  margin-top: 64px;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.ScreenViewer-screen {
  flex-shrink: 0;
  margin: 0 auto;
  transition: 0.05s linear;
}
