.ZoomControls {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(100,100,100, 0.2);
  border-radius: 50px;
  padding: 4px 8px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.ZoomControls-increase,
.ZoomControls-decrease,
.ZoomControls-percentage {
  cursor: pointer;
  padding: 0 4px;
}
