* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font: 14px/24px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.App {
  height: 100%;
}
